# Données runtime
postgres-data/
redis-data/
logs/
storage/

# Environnement
.env
.env.local
.env.*.backup
*.backup

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build Next.js
.next/
out/

# Build TypeScript
*.tsbuildinfo
dist/

# Dependencies
node_modules/

# OS
.DS_Store
Thumbs.db

# Divers
-H
-d
.nano
.vercel
